@model _1119Work.Models.TwoModelBook
@*Session["UploadAmount"] = 0;*@

<h2>繪本管理</h2>

@using (Html.BeginForm("EditBook", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Book.Id)

    <div class="form-group">
        <label class="control-label col-md-2">書名</label>
        <div class="col-md-10">
            @*Html.TextBox("Test", "123456")*@
            <input type="text" id="BookName" name="BookName" value="@Html.DisplayFor(m => m.Book.BookName)" class="form-control" />
            @*Html.EditorFor(m => m.Book.BookName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Book.BookName, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">作者</label>
        <div class="col-md-10">
            <input type="text" id="Author" name="Author" value="@Html.DisplayFor(m => m.Book.Author)" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">簡短介紹</label>
        <div class="col-md-10">
            <input type="text" id="Introdution" name="Introdution" value="@Html.DisplayFor(m => m.Book.Introdution)" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">繪本封面</label>
        <div class="col-md-10">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-10">
                        <form id="form1" runat="server">
                            <input type='file' name="file5" id="imgInp" />
                            <!--hidden可讓圖片隱藏-->
                            <img src="~/Image/@Html.DisplayFor(model => model.Book.Id)/0 @Html.DisplayFor(Model => Model.Book.DeputyFileName)" style="width:200px;height:150px" id="blah" alt="your image" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="form-group">
            <div class="row">
                <input type="hidden" data-val="true" data-val-number="欄位 Page 必須是數字。" id="Page" name="Page" value="" />
                @foreach (var item in Model.InnerPage)
                {
                    @*Html.HiddenFor(m => item.Page) 這個name會為"item.Page",後端接不到*@

                    <div class="col-md-2">
                        <div class="thumbnail">
                            <div class="caption">
                                <label class="control-label">頁數: @Html.DisplayFor(modelitem => item.Page)</label>
                            </div>
                            <input type='file' name="fileList" id="imgInp_@item.Page" oninput="" class="file" data-page="@item.Page" />

                            <img src="~/Image/@item.BookID/@Html.DisplayFor(modelItem => item.ImageName) .png" style="width:200px;height:150px" id="blah_@item.Page" alt="your image" />
                        </div>
                    </div>

                    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
                    <script type="text/javascript">
                    $(function () {
                        $("#imgInp_@item.Page").change(function () {
                            if (this.files && this.files[0]) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    $('#blah_@item.Page').attr('src', e.target.result);
                                    //$('#blah').show(); //圖片顯示
                                }
                                reader.readAsDataURL(this.files[0]);
                            }
                        }
                        );
                    });
                    </script>
                }
                <script>
                    $(".file").on("change", function () {
                        if ($("#Page").val() == "") {
                            $("#Page").val($(this).data("page"));
                        } else {
                            $("#Page").val($("#Page").val()+","+$(this).data("page"));
                        }
                    });
                </script>
            </div>
        </div>

        <div id="FileList">
            <div>
                <input type="file" id="file" name="CreatImage" oninput="AddFile();" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="儲存" class="btn btn-default" />
            </div>
        </div>
    </div>
    }


    <script type="text/javascript" language="javascript">
    var index = 1;
    function AddFile() {
        var ul = document.getElementById("FileList");
        var inputDiv = document.createElement("div");
        inputDiv.setAttribute("Id", "div" + index);
        var file = document.createElement("input");
        file.setAttribute("type", "file");
        file.setAttribute("id", "file" + index);
        file.setAttribute("name", "CreatImage");
        file.setAttribute("oninput", "AddFile();");
        var btnDel = document.createElement("input");
        btnDel.setAttribute("type", "button");
        btnDel.setAttribute("value", "删除");
        btnDel.setAttribute("Id", index);
        btnDel.onclick = function () {
            inputDiv.removeChild(file);
            inputDiv.removeChild(btnDel);
            ul.removeChild(inputDiv);
        }
        inputDiv.appendChild(file);
        inputDiv.appendChild(btnDel);
        ul.appendChild(inputDiv);
        index++;
        @*Session["UploadAmount"] = index*@;
    }

    </script>

    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function ImageAppear() {
            $("#imgInp").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                        //$('#blah').show(); //圖片顯示
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            }
            );
        });
    </script>
