@model IEnumerable<_1119Work.Models.Book>

@{
    ViewBag.Title = "電子書線上閱讀系統";
}

<h2>電子書線上閱讀系統</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="~/Image/1.png" />
                <img src="~/Image/@Html.DisplayFor(modelItem => item.Id)/0 @Html.DisplayFor(modelItem => item.DeputyFileName)"/>
                <div class="caption">
                    <h2>
                        @Html.DisplayFor(modelItem => item.BookName)
                    </h2>
                    <p>
                        @Html.DisplayFor(modelItem => item.Author)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.Introdution)
                    </p>
                    @Html.ActionLink("閱讀", "Book", new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    }
</div>