@model IEnumerable<_1119Work.Models.Book>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<h2>繪本清單</h2>

<table class="table table-hover"> <!--滑鼠移入表格列變換顏色-->
    <tr>
        <th>
            封面
        </th>
        <th>
            書名
        </th>
        <th>
            作者
        </th>
        <th>
            介紹
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Image/@Html.DisplayFor(modelItem => item.Rid)/0 @Html.DisplayFor(modelItem => item.DeputyFileName)" style="width:100px;height:80px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Introdution)
        </td>
        <td>
            @{if (Session["MemberID"] != null) //判斷有沒有登入了
                {
                    if ((int)Session["MemberID"] == item.MemberID) //判斷是否為該會員所上傳的繪本
                    {
                        <form action="@Url.RouteUrl("DeleteBook",new {item.Rid})" method="post">
                            <a href="@Url.RouteUrl("EditBook",new {item.Rid})" class="btn btn-primary">繪本管理</a>
                            <input type="hidden" value="@item.Rid" name="Rid" />
                            <input type="submit" value="刪除" class="btn btn-danger" onclick="return confirm('真的要刪除嗎?')"/>
                        </form>
                    }
                }
            }
        </td>
    </tr>
}

</table>
