@model IEnumerable<_1119Work.Models.Book>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table class="table table-hover">
    <tr>
        <th>
            封面
        </th>
        <th>
            書名
        </th>
        <th>
            作者
        </th>
        <th>
            介紹
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Image/@Html.DisplayFor(modelItem => item.Id)/0 @Html.DisplayFor(modelItem => item.DeputyFileName)" style="width:100px;height:80px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Introdution)
        </td>
        <td>
            @Html.ActionLink("繪本管理", "EditBook", new { id = item.Id }, new {@class = "btn btn-success" })
            @Html.ActionLink("刪除", "DeleteBook", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
