@model IEnumerable<_1119Work.Models.Member>

@{
    ViewBag.Title = "會員名單";
}

<h2>會員名單</h2>

<!--
    <p>
    @Html.ActionLink("Create New", "Create")
    </p>
-->


<table class="table table-striped"> <!--表格交替顏色-->
    <tr>
        <th>
            帳號
        </th>
        <th>
            密碼
        </th>
        <th>
            姓名
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mem_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mem_password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mem_name)
            </td>
            <td>
                <!--<form method="post" action="Home/Edit">
        <input type="hidden" value="@item.Id" name="id"/>
        <input type="submit" class="btn btn-warning" value="修改" />
    </form>-->
                
                
                @*<a href="@Url.RouteUrl("DeleteMember",new {item.Id})" class="btn btn-danger" onclick="return confirm('確定要刪除嗎')">刪除</a>*@
                <!--alert為警告視窗，沒有取消按鈕，confirm則有確定和取消鈕，加return跳過後端的程式-->
                <form action="@Url.RouteUrl("DeleteMember",new {item.Rid})" method="post">
                    <a href="@Url.RouteUrl("EditMember",new {item.Rid})" class="btn btn-warning">修改</a>
                    <input type="hidden" value="@item.Rid" name="Rid" />
                    <input type="submit" value="刪除" class="btn btn-danger" onclick="return confirm('確定要刪除嗎?')" />
                </form>
            </td>
        </tr>
    }

</table>
